.main {
	background-color: white;
	display: grid;
	width: 700px;
	height: 340px;
	grid-template-columns: 350px 350px;
	border-radius: 15px;
}

.logo {
	display: block;

	width: 20%;
	margin: 10px auto 20px auto;
}

@media only screen and (max-width: 768px) {
	.main {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 80vh;
	}
}
